{
    auto_https disable_redirects
}

:80 {
    reverse_proxy http://localhost:3000
}

:3000 {
    # Enable gzip compression only if we are not using SSE events
    # This is due to how gzip buffers which causes SSE to kills its connection
    @disable_gzip not path /sse/*
    encode @disable_gzip gzip

    # SSE requests
    @sse path /sse/*
    reverse_proxy @sse http://backend:3001 {
        header_down Cache-Control "no-cache"
        header_down Content-Type "text/event-stream"
        header_down Connection "keep-alive"
        header_down -Content-Length
        flush_interval -1
    }

    # Remaining API requests
    @nonSSE not path /sse/*
    reverse_proxy @nonSSE http://backend:3000 {
        @error status 4xx 5xx
        handle_response @error {
            header Location /
            respond "" 302
        }
    }
}
