services:
  frontend:
    build:
      context: .
      dockerfile: betting-frontend/Dockerfile
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - data:/data
    container_name: backend
    restart: unless-stopped
    ports:
      - "3001:3001"

volumes:
  data:
