version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    networks:
      - appnet

  frontend:
    build:
      context: .
      dockerfile: betting-frontend/Dockerfile
    ports:
      - "3000:80"
    networks:
      - appnet
    depends_on:
      - backend

networks:
  appnet:
