version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - data:/data
    ports:
      - "3001:3001"

  frontend:
    build:
      context: .
      dockerfile: betting-frontend/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  data:
